.vf-o-header-mobile {
  display: block;
  @apply mb-24;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .dropdown {
    > .btn {
      &.btn-link,
      &.btn-link:hover {
        color: rgba(31, 45, 61, 0.5);
        font-size: 1rem;
      }
      &.btn-link {
        &:after {
          display: none;
        }
      }
    }
  }
  &__toggle {
    font-size: 25px;
    &_close {
      font-size: 20px;
      width: 100%;
      text-align: center;
      color: #000000;
      i {
        cursor: pointer;
      }
    }
  }
  #menu-collapse {
    display: flex;
    &.show {
      .sidebar {
        @media (max-width: 768px) {
          transform: translate(0);
          transition: transform ease 0.3s;
        }
      }
    }
    .sidebar {
      @media (max-width: 768px) {
        transform: translate(-100%);
      }
    }
  }
  &__top {
    @apply flex items-center justify-center;
    @media (max-width: 768px) {
      min-height: 80px;
      @apply fixed left-0 ring-0 top-0 bg-white;
      z-index: 95;
      background-color: white;
      border-bottom: 3px solid #f5f5f5;
    }
  }
}
