.vf-m-table-horizontal {
    display: flex;
    flex-flow: column;
    &__item {
        display: flex;
        flex-flow: row;
    }
    &__title {
      @apply border p-2;
    }
    &__value {
      @apply border p-2;
    }
    &__title,
    &__value {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}