.vf-m-post-thumb {
  margin-bottom: 30px;
  &__title {
    min-height: 65px;
    max-height: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    min-height: 65px;
    max-height: 65px;
    overflow: hidden;
  }

  &__image_wrapper {
    min-height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
  }
}
