.loading-page {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  z-index: 99;
  padding-top: 65px;
}