.header-section {
  #menu-collapse {
    display: flex;
    &.show {
      .sidebar {
        @media (max-width: 768px) {
          transform: translate(0);
          transition: transform ease 0.3s;
        }
      }
    }
    .sidebar {
      @media (max-width: 768px) {
        transform: translate(-100%);
      }
    }
  }
  &__toggle {
    font-size: 25px;
    &_close {
      font-size: 20px;
      width: 100%;
      text-align: center;
      color: #000000;
      i {
        cursor: pointer;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      min-height: 80px;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 95;
      background-color: white;
      border-bottom: 3px solid #f5f5f5;
    }
  }
}
