.nav-section {
  padding: 12px 0;
  &__navbar {
    flex-direction: row;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    .nav-link {
      padding: 0.5rem 0.5rem;
      color: rgba(31, 45, 61, 0.5);
    }
  }

  &__logo {
    height: 40px;
  }
}
