// // @import '~bootstrap/scss/grid';

// .vf-m-col {
//   &--align-self-start {
//     align-self: flex-start;
//   }
//   &--align-self-center {
//     align-self: center;
//   }
//   &--align-self-end {
//     align-self: flex-end;
//   }
// }

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

// $grid-columns:                12 !default;
// $grid-gutter-width:           30px !default;

// @mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
//   // Common properties for all breakpoints
//   %grid-column {
//     position: relative;
//     width: 100%;
//     padding-right: $gutter / 2;
//     padding-left: $gutter / 2;
//   }

//   @each $breakpoint in map-keys($breakpoints) {
//     $infix: breakpoint-infix($breakpoint, $breakpoints);

//     @if $columns > 0 {
//       // Allow columns to stretch full width below their breakpoints
//       @for $i from 1 through $columns {
//         .vf-m-col#{$infix}-#{$i} {
//           @extend %grid-column;
//         }
//       }
//     }

//     .vf-m-col#{$infix},
//     .vf-m-col#{$infix}-auto {
//       @extend %grid-column;
//     }

//     @include media-breakpoint-up($breakpoint, $breakpoints) {
//       // Provide basic `.col-{bp}` classes for equal-width flexbox columns
//       .vf-m-col#{$infix} {
//         flex-basis: 0;
//         flex-grow: 1;
//         min-width: 0; // See https://github.com/twbs/bootstrap/issues/25410
//         max-width: 100%;
//       }

//       @if $grid-row-columns > 0 {
//         @for $i from 1 through $grid-row-columns {
//           .row-cols#{$infix}-#{$i} {
//             @include row-cols($i);
//           }
//         }
//       }

//       .vf-m-col#{$infix}-auto {
//         @include make-col-auto();
//       }

//       @if $columns > 0 {
//         @for $i from 1 through $columns {
//           .vf-m-col#{$infix}-#{$i} {
//             @include make-col($i, $columns);
//           }
//         }
//       }

//       .order#{$infix}-first { order: -1; }

//       .order#{$infix}-last { order: $columns + 1; }

//       @for $i from 0 through $columns {
//         .vf-m-col--order#{$infix}-#{$i} { order: $i; }
//       }

//       @if $columns > 0 {
//         // `$columns - 1` because offsetting by the width of an entire row isn't possible
//         @for $i from 0 through ($columns - 1) {
//           @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
//             .vf-m-col--offset#{$infix}-#{$i} {
//               @include make-col-offset($i, $columns);
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @include make-grid-columns();