.vf-o-header {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  .dropdown {
    > .btn {
      &.btn-link,
      &.btn-link:hover {
        padding: 0 0.5rem;
        color: rgba(31, 45, 61, 0.5);
        font-size: 1rem;
      }
      &.btn-link {
        &:after {
          display: none;
        }
      }
    }
  }
  a,
  a:hover {
    &:not([aria-controls]):not(.vf-e-common-menu__link) {
      padding: 0.5rem 0.5rem;
      color: rgba(31, 45, 61, 0.5);
    }
  }
}
