.vf-o-footer {
    @apply pt-28 mt-32;
    background-color: #F8F8F8;
    &__top {
      @apply mb-20;
    }
    &__bottom {

    }
    &__copyright {
      @apply pb-20 text-sm text-center;
      color: #C4C4C4;
    }
    .list-unstyled li a {
        color: #6E6E6E;
        &:hover {
            color: #6E6E6E;
        }
    }
}