.vf-m-media {
  @apply flex;
  &-body {
    @apply flex-1;
  }
  &-aside {
    @apply flex;
    &--start {
      @apply self-start;
    }
    &--center {
      @apply self-center;
    }
    &--end {
      @apply self-end;
    }
    &--left {
      @apply flex mr-4;
    }
    &--right {
      @apply flex ml-4;
    }
  }
}