.vf-m-product-thumb {
    margin-bottom: 1.875rem;
    @apply relative;
    &:not(&--wide) {
      .vf-m-product-thumb__header {
        flex: 100%;
      }
    }
    &:hover {
      .vf-m-product-thumb__popup {
        @apply visible opacity-100 z-20;
      }
    }
    &__popup {
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform invisible opacity-0 transition-all ease-in-out;
    }
    &__header {
      @apply px-4;
    }
    & &-image {
        min-height: 9.375rem;
        @apply w-full flex items-start justify-center rounded-bl-none rounded-br-none;
    }
    &__image {
        min-height: 13.3125rem;
        @apply flex items-center justify-center relative;

    }
    &__title {
        min-height: 3.75rem;
        max-height: 3.75rem;
        @apply text-xl font-normal flex items-center overflow-hidden justify-center;
    }
    &__description {
        min-height: 3.75rem;
        max-height: 3.75rem;
        overflow: hidden;
    }
    &__button-buy {
        width: 50%;
    }
    &__buttons {
      display: flex;
      flex-flow: row;
      .vf-a-button {
        width: 54px;
        height: 54px;
        margin: 0 1px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .vf-m-button-group {
      > * {
        &:first-child {
        }
        &:last-child {
        }
      }
    }
    &.vf-m-product-thumb--wide {
        .vf-m-product-thumb__footer {
          @apply pl-4;
        }
        .vf-m-product-thumb__title {
          justify-content: left;
        }
    }
}
