.vf-a-button {
  -webkit-appearance:none;
  &:hover,
  &:focus,
  &:active {
      box-shadow: none !important;
      outline: 0;
  }
  .btn-inner--visible {
    display: none;
  }
  .btn-inner--hidden {
    display: none;
  }
  &--animated {
      position: relative;
      overflow: hidden;
      .btn-inner--visible {
          position: relative;
          display: block;
      }
      .btn-inner--hidden {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          display: block;
      }
  }
  &--animated-x {
      .btn-inner--visible {
          right: 0;
          transition: right 0.3s ease 0s;
      }
      .btn-inner--hidden {
          right: -100%;
          transition: right 0.3s ease 0s;
      }
      &:hover {
          .btn-inner--hidden {
              right: 0;
          }
          .btn-inner--visible {
              right: 150%;
          }
      }
  }
  &--animated-y {
      .btn-inner--visible {
          top: 0;
          transition: top 0.3s ease 0s;
      }
      .btn-inner--hidden {
          left: 0;
          top: -100%;
          transition: top 0.3s ease;
      }
      &:hover {
          .btn-inner--hidden {
              top: 50%;
          }
          .btn-inner--visible {
              top: 100px;
          }
      }
  }
}