.vf-a-button {
    $self: &;
    border-radius: 0px;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: #2864A2;
    height: 40px;
    padding: 12px 16px;
    line-height: 14px;
    &:hover,
    &:focus,
    &:active {
        box-shadow: none !important;
        outline: 0;
    }
    &--sm {
        font-size: 12px;
        line-height: 12px;
        padding: 10px 14px;
        height: 32px;
    }
    &--md {}
    &--lg {
        font-size: 20px;
        line-height: 20px;
        padding: 16px 20px;
        height: 56px;
    }
    &--light-gray {
        background-color: #eee;
        &:hover {
            background-color: #ddd;
        }
        &.active {
            background-color: #ddd;
        }
    }
    &--neutral {
        background-color: #fff;
        color: #273444;
        border: 1px solid #eff2f7;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
        &:hover {
            color: #273444;
            border-color: #e5eaf2;
            background-color: #f7f7f7;
        }
        &:focus,
        &.focus {
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 0 rgba(255, 255, 255, 0.35);
        }
        &:disabled,
        &.disabled {
            color: #273444;
            background-color: #fff;
            border-color: #fff;
        }
        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active {
            border-color: #6e00ff;
            color: #6e00ff;
            background-color: #fff;
            &.focus,
            &:focus {
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 0 rgba(255, 255, 255, 0.35);
            }
        }
    }
    &--animated {
        position: relative;
        overflow: hidden;
        .btn-inner--visible {
            position: relative;
        }
        .btn-inner--hidden {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &--animated-x {
        #{$self}__inner--visible {
            right: 0;
            transition: right 0.3s ease 0s;
        }
        #{$self}__inner--hidden {
            right: -100%;
            transition: right 0.3s ease 0s;
        }
        &:hover {
            #{$self}__inner--hidden {
                right: 0;
            }
            #{$self}__inner--visible {
                right: 150%;
            }
        }
    }
    &--animated-y {
        #{$self}__inner--visible {
            top: 0;
            transition: top 0.3s ease 0s;
        }
        #{$self}__inner--hidden {
            left: 0;
            top: -100%;
            transition: top 0.3s ease;
        }
        &:hover {
            #{$self}__inner--hidden {
                top: 50%;
            }
            #{$self}__inner--visible {
                top: 100px;
            }
        }
    }
}