.vf-o-notification-toast {
  visibility: hidden;
  min-width: 15.625rem;
  margin-left: -7.8125rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.125rem;
  padding: 1rem;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 1.875rem;
  @apply bg-success;
  &.--error {
    @apply bg-danger;
  }
  &.--show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.875rem; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.875rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 1.875rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 1.875rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}