// @import '~bootstrap/scss/breadcrumb';
.vf-m-breadcrumb {
  &__item {
    &::before {
      color: rgba(31, 45, 61, 0.5);
    }
    a {
      color: rgba(31, 45, 61, 0.5);
      &:hover {
        color: rgba(31, 45, 61, 0.5);
      }
    }
  }
}